:root{
  --primary: #8B0000;
  --primary-hover: #6E0000;
  
  --background: #fafafa;
  --foreground: #333;
}

:root[data-theme="dark"]
{
  --primary: #E64D4D;

  --background: #333;
  --foreground: #fafafa;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: var(--background);
}