/* filepath: /home/mestresol/Documents/projects/systempunk-forum/app/page.module.css */
.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Media query para telas menores */
@media (max-width: 768px) {
  .cards {
    flex-direction: column; /* Muda para coluna em telas menores */
    align-items: center;
    margin-left: 0;
  }
}
