/* filepath: /home/mestresol/Documents/projects/systempunk-forum/app/page.module.css */
.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards {
  position: absolute;
  display:flex;
  flex-direction: row;
  width:100%;
  justify-content: space-around;
  margin-top:65vh;
  margin-left: 1vw;
}
