.contentTitle {
  color: white;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 10px;
}

.closeButton {
  position: fixed;
  top: 0;
  right: 0;
  padding: 0.5rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.5rem;
}

.content {
  padding: 1rem;
  margin: 0 auto;
  max-width: 800px;
  position: relative;
  color: white;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 2rem;
  margin-bottom: 2rem;
  overflow-y: auto;
  max-height: 500px;
}

.modal {
  width: 35vw;
  padding: 20px;
  background-color: rgb(28, 28, 28);
  color: #fff;
  z-index: 9999;
}

/* Responsiveness */
@media (max-width: 768px) {
  .contentTitle {
    font-size: 1.5rem;
  }

  .closeButton {
    font-size: 1.2rem;
  }

  .content {
    padding: 0.5rem;
    max-width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-height: 400px;
  }

  .modal {
    width: 90vw;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .contentTitle {
    font-size: 1.2rem;
  }

  .closeButton {
    font-size: 1rem;
  }

  .content {
    padding: 0.5rem;
    max-width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-height: 300px;
  }

  .modal {
    width: 100vw;
    height: 100vh;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column; /* Ensure content is in a single column */
  }
}
