
.SuperiorMenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--background_dark);
}

.BrandArea{
    display: flex;
    align-items: center;
}

.BrandArea img{
    width: 50px;
    height: 50px;
    margin-right: 1rem;
}

.BrandArea h1{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--text_title_color);
}

.SearchArea{
    display: flex;
    align-items: center;
}

.SearchArea input{
    padding: 0.5rem;
    border: 1px solid var(--border_light);
    border-radius: 5px;
    margin-right: 1rem;
}

.SearchArea button{
    padding: 0.5rem 1rem;
    background-color: var(--background_light);
    color: var(--text_light);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.LinkList{
    display: flex;
    align-items: center;
}

.LinkList ul{
    display: flex;
    list-style: none;
    padding-left: 10%;
}  

.LinkList ul li{
    margin-right: 1rem;
}

.LinkList ul li a{
    color: var(--text_light);
    font-weight: 700;
}

.ListItem{
    display: flex;
    align-items: center;
    padding-left: 10%;
    font-size: large;
}