.SuperiorMenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 60px;
    background-color: var(--background_dark);
}

.BrandArea{
    display: flex;
    align-items: center;
}

.BrandArea img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.BrandArea h1{
    color: var(--text_light);
    font-size: 1.5rem;
}

.LinkList{
    display: flex;
    align-items: center;
    height: 100%;
    display: flex;
    list-style: none;
}

.LinkList li{
    margin-right: 10px;
    list-style: none;
}

.LinkItem{
    margin-right: 10px;
}

.LinkItem a{
    color: var(--text_light);
    font-size: 1.2rem;
    list-style: none;
}

.UserArea{
    display: flex;
    align-items: center;
}

.UserArea img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.UserArea h1{
    color: var(--text_light);
    font-size: 1.5rem;
}